# Michael Sturm BUAN 6346.502 Final Project

## The notebook will accomplish the following steps:
- Introduce problem and description
- Read data-sets 
- Exploratory data analysis of data sets
- Pre Processing of data
- Data analysis
- Visulation

In [1]:
# Spark session - user PySpark3 kernel

Starting Spark application

SparkSession available as 'spark'.

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import *

"""
import pandas as pd
#from IPython.core.display import display, HTML
#display(HTML('<h1>Hello, world!</h1>'))
"""

"\nimport pandas as pd\n#from IPython.core.display import display, HTML\n#display(HTML('<h1>Hello, world!</h1>'))\n"

In [3]:
#The following code was run to load all customer complaints and store them as a Parquet file.

#RUN THIS ONCE TO LOAD COMPLAINS FROM HIVE INTO DF AND SAVE AS PARQUET

In [4]:
#Step 1

# On Windows) Download using browser into the data folder. Rename file to cust_complains_all_through_3_31.csv

In [5]:
#Step 2 run the following Python to clean the data

#import csv

## Replace file names as needed
#input_file_name = "cust_complains_all_through_3_31.csv"
#output_file_name = "cust_complains_all_through_3_31_tab.csv"

#def remove_n_r(column):
#    column = column.replace('\n','')
#    column = column.replace('\r','')
#    column = column.replace('\t','')
#    return column
    
#in_txt = csv.reader(open(input_file_name), delimiter = ',')
#out_csv = open(output_file_name, 'w', newline='\n')
#csv_writer = csv.writer(out_csv, delimiter = '\t', quotechar='|', quoting=csv.QUOTE_MINIMAL)
#out_csv.writerows(in_txt)
#line_count = 0
#for row in in_txt:
#    if line_count == 0:
#        print('Column names are:', row)
#        line_count += 1
#    else:
#        new_row = []
#        for col in row:
#            new_row.append(remove_n_r(col))
#        csv_writer.writerow(new_row)
#        line_count += 1

#out_csv.close()
#print('Processed',line_count,' lines.')

In [6]:
#Step 3. Using MobaXterm log into the EMR cluster, enter Hive and run the following commands.
#Once the commands are run the data should be accessible from this notebook via Spark HIVE support.

#DROP TABLE cust_complains.cust_complaints_all_csv_raw;
#DROP TABLE cust_complains.cust_complaints_all;

#CREATE TABLE cust_complains.cust_complaints_all_csv_raw
#(date_received      string,
#product             string,
#sub_product         string,
#issue               string,
#sub_issue           string,
#consumer_complaint_narrative string,
#company_public_response string,
#company             string,
#state               string,
#zip_code            string,
#tags                string,
#consumer_consent_provided string,
#submitted_via       string,
#date_sent_to_company string,
#company_response    string,
#timely_response     string,
#consumer_disputed   string,
#complaint_id        string)
#ROW FORMAT DELIMITED 
#FIELDS TERMINATED BY '\t';


#CREATE TABLE cust_complains.cust_complaints_all
#(date_received      string,
#product             string,
#sub_product         string,
#issue               string,
#sub_issue           string,
#consumer_complaint_narrative string,
#company_public_response string,
#company             string,
#state               string,
#zip_code            string,
#tags                string,
#consumer_consent_provided string,
#submitted_via       string,
#date_sent_to_company string,
#company_response    string,
#timely_response     string,
#consumer_disputed   string,
#complaint_id        string)
#ROW FORMAT DELIMITED 
#FIELDS TERMINATED BY ','
#STORED AS PARQUET 
#TBLPROPERTIES ("parquet.compression"="SNAPPY");


#LOAD DATA LOCAL inpath '/mnt/data/cust_complains_all_through_3_31_tab.csv' 
#INTO TABLE cust_complains.cust_complaints_all_csv_raw;


#INSERT INTO cust_complains.cust_complaints_all
#SELECT * FROM cust_complains.cust_complaints_all_csv_raw;

In [7]:
spark.sql("create database cust_complains")

'org.apache.hadoop.hive.metastore.api.AlreadyExistsException: Database cust_complains already exists;'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/session.py", line 767, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'org.apache.hadoop.hive.metastore.api.AlreadyExistsException: Database cust_complains already exists;'

In [8]:
#these commands will only work if Hive table is populated.

spark.sql("use cust_complains")
complainsDF = spark.table("cust_complains.cust_complaints_all")

#save dataframe as parquet file

complainsDF.write.parquet("s3://aws-logs-750827748885-us-east-2/tools/cust_complaints.pq")

"Table or view not found: `cust_complains`.`cust_complaints_all`;;\n'UnresolvedRelation `cust_complains`.`cust_complaints_all`\n"
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/session.py", line 780, in table
    return DataFrame(self._jsparkSession.table(tableName), self._wrapped)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: "Table or view not found: `cust_complains`.`cust_complaints_all`;;\n'UnresolvedRelation `cust_complains`.`cust_complaints_all`\n"

## Read all data from S3 storage

In [9]:
###########################################################################################################################

# DATA SOURCE NUMBER: 1

# CUSTOMER COMPLAINT DATA

#https://www.consumerfinance.gov/data-research/consumer-complaints/

###########################################################################################################################

In [10]:
complaintsDF = spark.read.parquet("s3://aws-logs-750827748885-us-east-2/tools/cust_complaints.pq")
complaintsDF.cache()
print("Number of Comnplaints: " + str(complaintsDF.count()))
print(complaintsDF.printSchema())

Number of Comnplaints: 1273782
root
 |-- date_received: string (nullable = true)
 |-- product: string (nullable = true)
 |-- sub_product: string (nullable = true)
 |-- issue: string (nullable = true)
 |-- sub_issue: string (nullable = true)
 |-- consumer_complaint_narrative: string (nullable = true)
 |-- company_public_response: string (nullable = true)
 |-- company: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- consumer_consent_provided: string (nullable = true)
 |-- submitted_via: string (nullable = true)
 |-- date_sent_to_company: string (nullable = true)
 |-- company_response: string (nullable = true)
 |-- timely_response: string (nullable = true)
 |-- consumer_disputed: string (nullable = true)
 |-- complaint_id: string (nullable = true)

None

In [11]:
#Lets take a look at some sample rows

In [12]:
complaintsDF.show(1)

+-------------+-----------+-----------+--------+---------+----------------------------+-----------------------+--------------------+-----+--------+--------------+-------------------------+-------------+--------------------+--------------------+---------------+-----------------+------------+
|date_received|    product|sub_product|   issue|sub_issue|consumer_complaint_narrative|company_public_response|             company|state|zip_code|          tags|consumer_consent_provided|submitted_via|date_sent_to_company|    company_response|timely_response|consumer_disputed|complaint_id|
+-------------+-----------+-----------+--------+---------+----------------------------+-----------------------+--------------------+-----+--------+--------------+-------------------------+-------------+--------------------+--------------------+---------------+-----------------+------------+
|   05/13/2016|Credit card|           |Late fee|         |                            |                       |CAPITAL ONE FINAN...|   MD|   21206|Older American|                      N/A|  Postal mail|          05/16/2016|Closed with expla...|            Yes|               No|     1925763|
+-------------+-----------+-----------+--------+---------+----------------------------+-----------------------+--------------------+-----+--------+--------------+-------------------------+-------------+--------------------+--------------------+---------------+-----------------+------------+
only showing top 1 row

In [13]:
#Looking at the schema state, zip_code, product, subproduct, company, and issue should be the most important fields.

In [14]:
#Reduce complaints dataframe to only needed fields to increase performance
columnlist = ["product","sub_product","issue","company","zip_code","state"]

complaintsTrimmedDf = complaintsDF.select(columnlist)

In [15]:
complaintsTrimmedDf.printSchema()

root
 |-- product: string (nullable = true)
 |-- sub_product: string (nullable = true)
 |-- issue: string (nullable = true)
 |-- company: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- state: string (nullable = true)

In [16]:
# States with the most complaints

complaintsTrimmedDf\
.groupBy("state")\
.count()\
.sort(col("count").desc()).show(10)

+-----+------+
|state| count|
+-----+------+
|   CA|175021|
|   FL|125356|
|   TX|106773|
|   NY| 85531|
|   GA| 66578|
|   IL| 49266|
|   NJ| 47543|
|   PA| 43862|
|   NC| 39278|
|   OH| 38208|
+-----+------+
only showing top 10 rows

In [17]:
#States with the least complaints

complaintsTrimmedDf\
.groupBy("state")\
.count()\
.sort(col("count").asc()).show(10)

+--------------------+-----+
|               state|count|
+--------------------+-----+
|                  PW|   13|
|                  AA|   25|
|                  AS|   27|
|                  MH|   31|
|UNITED STATES MIN...|   31|
|                  MP|   34|
|                  FM|  115|
|                  GU|  187|
|                  VI|  230|
|                  AP|  351|
+--------------------+-----+
only showing top 10 rows

In [18]:
#Solving issues with Zip Code
#759XX

In [19]:
complaintsTrimmedDf.createOrReplaceTempView("complaints_trimmed")

In [20]:
#Using a Spark SQL example here it looks like we have 467462 masked zip codes

In [21]:
spark.sql("SELECT count(zip_code) FROM complaints_trimmed where zip_code LIKE '___XX'").show()

+---------------+
|count(zip_code)|
+---------------+
|         467462|
+---------------+

In [22]:
#Total number of Zip Codes

In [23]:
complaintsTrimmedDf.count()

1273782

In [24]:
#Using Spark dataframe API we can see how many zipcodes have just one X. It looks like that is 0.

In [25]:
print(complaintsTrimmedDf.where(instr(complaintsTrimmedDf.zip_code, "XX") > 0).count())
print(complaintsTrimmedDf.where(instr(complaintsTrimmedDf.zip_code, "X") > 0)\
      .where(instr(complaintsTrimmedDf.zip_code, "XX") == 0).count())

467462
0

In [26]:
#Creating a dataframe of only valid zipcodes.

In [27]:
complaintsTrimmedValidZipDf = complaintsTrimmedDf.where(instr(complaintsTrimmedDf.zip_code, "XX") == 0)

In [28]:
complaintsTrimmedValidZipDf.count()

806320

In [29]:
#Double checking my values here.

In [30]:
print(complaintsTrimmedDf.count() - complaintsTrimmedDf.where(instr(complaintsTrimmedDf.zip_code, "XX") > 0).count())

806320

In [31]:
###########################################################################################################################

#DATA SOURCE NUMBER: 2

#DEMOGRAPHIC DATA

#Lets take a look at the county demographic data now.

#https://www.kaggle.com/muonneutrino/us-census-demographic-data#acs2017_county_data.csv

###########################################################################################################################

In [32]:
countyDataDF = spark.read.option("header", "true").csv("s3://aws-logs-750827748885-us-east-2/tools/ProjectProposal/acs2017_county_data.csv")
countyDataDF.cache()
countyDataDF.take(1)
print(countyDataDF.show())
print(countyDataDF.printSchema())

+--------+-------+----------------+--------+-----+------+--------+-----+-----+------+-----+-------+----------------+------+---------+------------+---------------+-------+------------+------------+-------+------+------------+----------+-----+-------+-------+----+-----------+----------+-----------+--------+-----------+----------+------------+----------+------------+
|CountyId|  State|          County|TotalPop|  Men| Women|Hispanic|White|Black|Native|Asian|Pacific|VotingAgeCitizen|Income|IncomeErr|IncomePerCap|IncomePerCapErr|Poverty|ChildPoverty|Professional|Service|Office|Construction|Production|Drive|Carpool|Transit|Walk|OtherTransp|WorkAtHome|MeanCommute|Employed|PrivateWork|PublicWork|SelfEmployed|FamilyWork|Unemployment|
+--------+-------+----------------+--------+-----+------+--------+-----+-----+------+-----+-------+----------------+------+---------+------------+---------------+-------+------------+------------+-------+------+------------+----------+-----+-------+-------+----+-----------+----------+-----------+--------+-----------+----------+------------+----------+------------+
|    1001|Alabama|  Autauga County|   55036|26899| 28137|     2.7| 75.4| 18.9|   0.3|  0.9|    0.0|           41016| 55317|     2838|       27824|           2024|   13.7|        20.1|        35.3|   18.0|  23.2|         8.1|      15.4| 86.0|    9.6|    0.1| 0.6|        1.3|       2.5|       25.8|   24112|       74.1|      20.2|         5.6|       0.1|         5.2|
|    1003|Alabama|  Baldwin County|  203360|99527|103833|     4.4| 83.1|  9.5|   0.8|  0.7|    0.0|          155376| 52562|     1348|       29364|            735|   11.8|        16.1|        35.7|   18.2|  25.6|         9.7|      10.8| 84.7|    7.6|    0.1| 0.8|        1.1|       5.6|       27.0|   89527|       80.7|      12.9|         6.3|       0.1|         5.5|
|    1005|Alabama|  Barbour County|   26201|13976| 12225|     4.2| 45.7| 47.8|   0.2|  0.6|    0.0|           20269| 33368|     2551|       17561|            798|   27.2|        44.9|        25.0|   16.8|  22.6|        11.5|      24.1| 83.4|   11.1|    0.3| 2.2|        1.7|       1.3|       23.4|    8878|       74.1|      19.1|         6.5|       0.3|        12.4|
|    1007|Alabama|     Bibb County|   22580|12251| 10329|     2.4| 74.6| 22.0|   0.4|  0.0|    0.0|           17662| 43404|     3431|       20911|           1889|   15.2|        26.6|        24.4|   17.6|  19.7|        15.9|      22.4| 86.4|    9.5|    0.7| 0.3|        1.7|       1.5|       30.0|    8171|       76.0|      17.4|         6.3|       0.3|         8.2|
|    1009|Alabama|   Blount County|   57667|28490| 29177|     9.0| 87.4|  1.5|   0.3|  0.1|    0.0|           42513| 47412|     2630|       22021|            850|   15.6|        25.4|        28.5|   12.9|  23.3|        15.8|      19.5| 86.8|   10.2|    0.1| 0.4|        0.4|       2.1|       35.0|   21380|       83.9|      11.9|         4.0|       0.1|         4.9|
|    1011|Alabama|  Bullock County|   10478| 5616|  4862|     0.3| 21.6| 75.6|   1.0|  0.7|    0.0|            8212| 29655|     5376|       20856|           2355|   28.5|        50.4|        19.7|   17.1|  18.6|        14.0|      30.6| 73.1|   15.7|    0.3| 6.2|        1.7|       3.0|       29.8|    4290|       81.4|      13.6|         5.0|       0.0|        12.1|
|    1013|Alabama|   Butler County|   20126| 9416| 10710|     0.3| 52.2| 44.7|   0.1|  1.1|    0.0|           15459| 36326|     2701|       19004|            943|   24.4|        34.8|        26.9|   17.3|  18.5|        11.6|      25.7| 83.6|   12.6|    0.0| 0.9|        0.9|       2.0|       23.2|    7727|       79.1|      15.3|         5.3|       0.3|         7.6|
|    1015|Alabama|  Calhoun County|  115527|55593| 59934|     3.6| 72.7| 20.4|   0.2|  1.0|    0.0|           88383| 43686|     1491|       23638|            793|   18.6|        26.6|        29.0|   17.5|  23.7|        10.4|      19.4| 85.0|    9.2|    0.2| 1.3|        1.1|       3.2|       24.8|   47392|       74.9|      19.9|         5.1|       0.1|        10.1|
|    1017|Alabama| Chambers County|   33895|16320| 17575|     2.2| 56.2| 39.3|   0.3|  1.0|    0.0|           26259| 37342|     2011|       22002|           1205|   18.8|        29.1|        24.3|   13.5|  23.0|        11.6|      27.6| 87.1|    9.7|    0.2| 0.6|        0.5|       2.0|       23.6|   14527|       84.5|      11.8|         3.7|       0.0|         6.4|
|    1019|Alabama| Cherokee County|   25855|12862| 12993|     1.6| 91.8|  5.0|   0.5|  0.1|    0.0|           20620| 40041|     2316|       23010|           1354|   16.1|        20.0|        28.8|   14.8|  18.1|        11.9|      26.5| 85.0|   12.1|    0.4| 0.3|        0.3|       2.0|       26.5|    9879|       74.8|      17.1|         8.1|       0.0|         5.3|
|    1021|Alabama|  Chilton County|   43805|21554| 22251|     7.7| 80.4|  9.5|   0.4|  0.4|    0.0|           31776| 43501|     2877|       23368|           1925|   19.4|        27.8|        25.3|   14.5|  23.7|        15.5|      21.0| 83.2|   12.6|    0.1| 0.6|        1.8|       1.7|       32.5|   17675|       81.1|      14.0|         4.5|       0.4|         6.7|
|    1023|Alabama|  Choctaw County|   13188| 6277|  6911|     0.5| 56.3| 42.1|   0.0|  0.1|    0.0|           10454| 32122|     2797|       20994|           1307|   22.3|        32.8|        23.6|   15.4|  22.0|        17.1|      21.9| 81.8|   13.7|    0.0| 1.7|        1.2|       1.6|       32.7|    4301|       79.9|      14.8|         4.9|       0.4|         9.8|
|    1025|Alabama|   Clarke County|   24625|11649| 12976|     0.2| 53.0| 45.7|   0.1|  0.5|    0.1|           19087| 33827|     2336|       20765|           1203|   25.3|        30.7|        21.6|   14.3|  24.8|        13.7|      25.6| 83.7|   11.9|    0.2| 0.7|        2.7|       0.9|       23.9|    7933|       83.1|      11.8|         5.1|       0.0|        15.2|
|    1027|Alabama|     Clay County|   13407| 6471|  6936|     3.1| 80.2| 14.7|   0.9|  0.0|    0.0|           10332| 37287|     6507|       21330|           1553|   19.1|        23.5|        22.2|   14.6|  18.4|        12.9|      31.9| 87.5|    6.0|    0.0| 2.8|        0.6|       3.0|       30.3|    5509|       77.8|      14.5|         7.7|       0.0|         6.4|
|    1029|Alabama| Cleburne County|   14939| 7367|  7572|     2.4| 92.7|  2.8|   0.3|  0.5|    0.0|           11329| 37396|     5390|       20873|           1251|   19.1|        31.0|        25.7|   11.4|  23.2|        18.0|      21.7| 81.8|   14.5|    0.0| 0.9|        0.1|       2.7|       33.2|    5743|       76.1|      15.7|         8.2|       0.0|         7.8|
|    1031|Alabama|   Coffee County|   51073|25225| 25848|     6.7| 71.0| 17.1|   1.0|  1.3|    0.0|           38026| 49821|     1945|       26216|            950|   16.1|        26.3|        31.6|   17.3|  21.4|        13.1|      16.7| 86.6|    8.1|    0.0| 1.0|        1.4|       2.8|       21.7|   21639|       73.6|      20.7|         5.6|       0.1|         6.0|
|    1033|Alabama|  Colbert County|   54435|26143| 28292|     2.4| 78.8| 15.9|   0.7|  0.5|    0.0|           42195| 45477|     1959|       23675|            816|   16.8|        24.1|        27.1|   15.4|  26.0|        11.2|      20.3| 89.1|    7.3|    0.1| 0.7|        0.8|       2.0|       23.1|   22180|       78.1|      16.1|         5.5|       0.3|         6.9|
|    1035|Alabama|  Conecuh County|   12649| 6040|  6609|     1.8| 50.3| 46.3|   0.2|  0.0|    0.0|            9812| 30434|     3446|       16337|            934|   26.4|        39.3|        15.9|   19.7|  24.3|        12.8|      27.4| 90.0|    6.7|    0.4| 0.8|        0.4|       1.7|       29.6|    3945|       79.5|      12.3|         7.2|       1.0|        14.5|
|    1037|Alabama|    Coosa County|   10955| 5474|  5481|     0.1| 65.3| 33.2|   0.1|  0.0|    0.0|            8989| 34792|     3587|       20342|           1728|   14.4|        17.9|        17.6|   23.2|  23.7|        14.5|      20.9| 83.2|    9.7|    0.6| 1.7|        0.6|       4.2|       29.8|    3897|       78.8|      15.9|         5.4|       0.0|        11.3|
|    1039|Alabama|Covington County|   37519|18133| 19386|     1.6| 83.5| 13.0|   0.3|  0.4|    0.0|           29164| 39467|     2392|       22431|            830|   17.6|        25.0|        29.2|   14.3|  22.2|        15.8|      18.4| 86.8|    8.6|    0.2| 1.1|        1.5|       1.9|       25.2|   14686|       80.0|      13.2|         6.7|       0.1|        10.7|
+--------+-------+----------------+--------+-----+------+--------+-----+-----+------+-----+-------+----------------+------+---------+------------+---------------+-------+------------+------------+-------+------+------------+----------+-----+-------+-------+----+-----------+----------+-----------+--------+-----------+----------+------------+----------+------------+
only showing top 20 rows

None
root
 |-- CountyId: string (nullable = true)
 |-- State: string (nullable = true)
 |-- County: string (nullable = true)
 |-- TotalPop: string (nullable = true)
 |-- Men: string (nullable = true)
 |-- Women: string (nullable = true)
 |-- Hispanic: string (nullable = true)
 |-- White: string (nullable = true)
 |-- Black: string (nullable = true)
 |-- Native: string (nullable = true)
 |-- Asian: string (nullable = true)
 |-- Pacific: string (nullable = true)
 |-- VotingAgeCitizen: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- IncomeErr: string (nullable = true)
 |-- IncomePerCap: string (nullable = true)
 |-- IncomePerCapErr: string (nullable = true)
 |-- Poverty: string (nullable = true)
 |-- ChildPoverty: string (nullable = true)
 |-- Professional: string (nullable = true)
 |-- Service: string (nullable = true)
 |-- Office: string (nullable = true)
 |-- Construction: string (nullable = true)
 |-- Production: string (nullable = true)
 |-- Drive: string (nullable = true)
 |-- Carpool: string (nullable = true)
 |-- Transit: string (nullable = true)
 |-- Walk: string (nullable = true)
 |-- OtherTransp: string (nullable = true)
 |-- WorkAtHome: string (nullable = true)
 |-- MeanCommute: string (nullable = true)
 |-- Employed: string (nullable = true)
 |-- PrivateWork: string (nullable = true)
 |-- PublicWork: string (nullable = true)
 |-- SelfEmployed: string (nullable = true)
 |-- FamilyWork: string (nullable = true)
 |-- Unemployment: string (nullable = true)

None

In [33]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
    'District of Columbia': 'DC',
    'Puerto Rico': 'PR'
}

In [34]:
countyDataDF.select("State").distinct().count()

52

In [35]:
print(us_state_abbrev["Alabama"])

AL

In [36]:
#For this assignment we are only interested in the race columns

In [37]:
demographicsList = ["CountyId","State","County","TotalPop","Men","Women","Hispanic","White","Black","Native","Asian","Pacific"]

In [38]:
countyDataTrimmedDf = countyDataDF.select(demographicsList)

In [39]:
countyDataTrimmedDf.printSchema()

root
 |-- CountyId: string (nullable = true)
 |-- State: string (nullable = true)
 |-- County: string (nullable = true)
 |-- TotalPop: string (nullable = true)
 |-- Men: string (nullable = true)
 |-- Women: string (nullable = true)
 |-- Hispanic: string (nullable = true)
 |-- White: string (nullable = true)
 |-- Black: string (nullable = true)
 |-- Native: string (nullable = true)
 |-- Asian: string (nullable = true)
 |-- Pacific: string (nullable = true)

In [40]:
countyDataTrimmedDf.show(1)

+--------+-------+--------------+--------+-----+-----+--------+-----+-----+------+-----+-------+
|CountyId|  State|        County|TotalPop|  Men|Women|Hispanic|White|Black|Native|Asian|Pacific|
+--------+-------+--------------+--------+-----+-----+--------+-----+-----+------+-----+-------+
|    1001|Alabama|Autauga County|   55036|26899|28137|     2.7| 75.4| 18.9|   0.3|  0.9|    0.0|
+--------+-------+--------------+--------+-----+-----+--------+-----+-----+------+-----+-------+
only showing top 1 row

In [41]:
#As we can see we are only given the percentages by county. Lets convert that to the total population by county

In [42]:
#We need to convert state from a full name to an abbreviation

In [43]:
from pyspark.sql.functions import udf
def lookUpState(string_input):
    state = us_state_abbrev[string_input]
    return state
lookUpState_udf = udf(lookUpState, StringType())

In [44]:
print(lookUpState_udf("Alabama"))

Column<b'lookUpState(Alabama)'>

In [45]:
from pyspark.sql.functions import col, to_date
countyDataTotalDf = countyDataTrimmedDf\
.withColumn("State", lookUpState_udf(countyDataTrimmedDf["State"]))\
.withColumn("Total Hispanic", round((countyDataTrimmedDf["Hispanic"].cast("double") * \
                               (countyDataTrimmedDf["TotalPop"].cast("double") / 100 ))))\
.withColumn("Total White", round((countyDataTrimmedDf["White"].cast("double") * \
                               (countyDataTrimmedDf["TotalPop"].cast("double") / 100 ))))\
.withColumn("Total Black", round((countyDataTrimmedDf["Black"].cast("double") * \
                               (countyDataTrimmedDf["TotalPop"].cast("double") / 100 ))))\
.withColumn("Total Native", round((countyDataTrimmedDf["Native"].cast("double") * \
                               (countyDataTrimmedDf["TotalPop"].cast("double") / 100 ))))\
.withColumn("Total Asian", round((countyDataTrimmedDf["Asian"].cast("double") * \
                               (countyDataTrimmedDf["TotalPop"].cast("double") / 100 ))))\
.withColumn("Total Pacific", round((countyDataTrimmedDf["Pacific"].cast("double") * \
                               (countyDataTrimmedDf["TotalPop"].cast("double") / 100 ))))\

In [46]:
countyDataTotalDf.printSchema()

root
 |-- CountyId: string (nullable = true)
 |-- State: string (nullable = true)
 |-- County: string (nullable = true)
 |-- TotalPop: string (nullable = true)
 |-- Men: string (nullable = true)
 |-- Women: string (nullable = true)
 |-- Hispanic: string (nullable = true)
 |-- White: string (nullable = true)
 |-- Black: string (nullable = true)
 |-- Native: string (nullable = true)
 |-- Asian: string (nullable = true)
 |-- Pacific: string (nullable = true)
 |-- Total Hispanic: double (nullable = true)
 |-- Total White: double (nullable = true)
 |-- Total Black: double (nullable = true)
 |-- Total Native: double (nullable = true)
 |-- Total Asian: double (nullable = true)
 |-- Total Pacific: double (nullable = true)

In [47]:
countyDataTotalDf.show(1)

+--------+-----+--------------+--------+-----+-----+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
|CountyId|State|        County|TotalPop|  Men|Women|Hispanic|White|Black|Native|Asian|Pacific|Total Hispanic|Total White|Total Black|Total Native|Total Asian|Total Pacific|
+--------+-----+--------------+--------+-----+-----+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
|    1001|   AL|Autauga County|   55036|26899|28137|     2.7| 75.4| 18.9|   0.3|  0.9|    0.0|        1486.0|    41497.0|    10402.0|       165.0|      495.0|          0.0|
+--------+-----+--------------+--------+-----+-----+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
only showing top 1 row

In [48]:
#Lets see the the states with the largest population of black residents by total.

countyDataTotalDf\
.groupBy("State")\
.sum("Total Black")\
.withColumnRenamed("sum(Total Black)", "Total Black Pop")\
.sort("Total Black Pop", ascending=False).show(10)

+-----+---------------+
|State|Total Black Pop|
+-----+---------------+
|   TX|      3198950.0|
|   GA|      3150690.0|
|   FL|      3127595.0|
|   NY|      2844489.0|
|   CA|      2162581.0|
|   NC|      2127567.0|
|   IL|      1806173.0|
|   MD|      1754681.0|
|   VA|      1575338.0|
|   LA|      1490495.0|
+-----+---------------+
only showing top 10 rows

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 49378)
Traceback (most recent call last):
  File "/usr/lib64/python3.6/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib64/python3.6/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib64/python3.6/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib64/python3.6/socketserver.py", line 721, in __init__
    self.handle()
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/accumulators.py", line 266, in handle
    poll(authenticate_and_accum_updates)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/accumulators.py", line 241, in poll
    if func():
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/accumulators.py", line 254, in authenticate_and_accum_updates
    received_token = self.rfile.read(len(auth_token))
TypeError: object of type 'NoneType' has no len()
----------------------------------------

In [49]:
###########################################################################################################################

# DATA SOURCE NUMBER: 3

# ZIPCODE TO COUNTY DATA

#Now lets take a look at the ZipCode data set

#Data source: https://www.kaggle.com/danofer/zipcodes-county-fips-crosswalk/version/1

###########################################################################################################################

In [50]:
zipCodeDF = spark.read.option("header","true").csv("s3://aws-logs-750827748885-us-east-2/tools/ProjectProposal/ZIP-COUNTY-FIPS_2017-06.csv")
zipCodeDF.cache()
zipCodeDF.take(1)
print(zipCodeDF.show())
print(zipCodeDF.printSchema())

+-----+--------------+-----+----------+-------+
|  ZIP|    COUNTYNAME|STATE|STCOUNTYFP|CLASSFP|
+-----+--------------+-----+----------+-------+
|36003|Autauga County|   AL|     01001|     H1|
|36006|Autauga County|   AL|     01001|     H1|
|36067|Autauga County|   AL|     01001|     H1|
|36066|Autauga County|   AL|     01001|     H1|
|36703|Autauga County|   AL|     01001|     H1|
|36701|Autauga County|   AL|     01001|     H1|
|36091|Autauga County|   AL|     01001|     H1|
|36051|Autauga County|   AL|     01001|     H1|
|36068|Autauga County|   AL|     01001|     H1|
|36008|Autauga County|   AL|     01001|     H1|
|36022|Autauga County|   AL|     01001|     H1|
|36749|Autauga County|   AL|     01001|     H1|
|36758|Autauga County|   AL|     01001|     H1|
|36550|Baldwin County|   AL|     01003|     H1|
|36551|Baldwin County|   AL|     01003|     H1|
|36527|Baldwin County|   AL|     01003|     H1|
|36577|Baldwin County|   AL|     01003|     H1|
|36559|Baldwin County|   AL|     01003|     H1|
|36536|Baldwin County|   AL|     01003|     H1|
|36576|Baldwin County|   AL|     01003|     H1|
+-----+--------------+-----+----------+-------+
only showing top 20 rows

None
root
 |-- ZIP: string (nullable = true)
 |-- COUNTYNAME: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STCOUNTYFP: string (nullable = true)
 |-- CLASSFP: string (nullable = true)

None

In [51]:
zipcodeColumns = ["ZIP","COUNTYNAME","STATE"]
zipCodeTrimmedDF = zipCodeDF.select(zipcodeColumns)
zipCodeTrimmedDF.printSchema()

root
 |-- ZIP: string (nullable = true)
 |-- COUNTYNAME: string (nullable = true)
 |-- STATE: string (nullable = true)

In [52]:
#This one is pretty clear cut. It aligns Zip codes with their county names. Normal Case matches demographic data

In [53]:
###########################################################################################################################

#DATA SOURCE NUMBER: 4

# INCOME TAX NAMES

#Now lets look at the definitions for the income tax fields

#Data source: https://www.kaggle.com/irs/individual-income-tax-statistics#field_definitions.csv

###########################################################################################################################

In [54]:
incomeTaxFieldsDF = spark.read.option("header","true").csv("s3://aws-logs-750827748885-us-east-2/tools/ProjectProposal/field_definitions.csv")
incomeTaxFieldsDF.cache()
incomeTaxFieldsDF.take(1)
print(incomeTaxFieldsDF.show())
print(incomeTaxFieldsDF.printSchema())

+-------------+--------------------+------------------+----+
|Variable_Name|         Description|        Value_Line|year|
+-------------+--------------------+------------------+----+
|    STATEFIPS|The State Federal...|             01-56|2014|
|       A85770|Total premium tax...|           8962:24|2014|
|       A09400|Self-employment t...|           1040:57|2014|
|       N09400|Number of returns...|           1040:57|2014|
|       N07260|Number of returns...|           1040:53|2014|
|       A07220|Child tax credit ...|1040:52 / 1040A:35|2014|
|       N07220|Number of returns...|1040:52 / 1040A:35|2014|
|       A07240|Retirement saving...|1040:51 / 1040A:34|2014|
|       N07240|Number of returns...|1040:51 / 1040A:34|2014|
|       A07230|Nonrefundable edu...|1040:50 / 1040A:33|2014|
|       N07230|Number of returns...|1040:50 / 1040A:33|2014|
|       A07180|Child and depende...|1040:49 / 1040A:31|2014|
|       N07180|Number of returns...|1040:49 / 1040A:31|2014|
|       A07300|Foreign tax credi...|           1040:48|2014|
|       N07300|Number of returns...|           1040:48|2014|
|       A07100|Total tax credits...|1040:55 / 1040A:36|2014|
|       N07100|Number of returns...|1040:55 / 1040A:36|2014|
|       A05780|Excess advance pr...| 1040:46/ 1040A:29|2014|
|       N05780|Number of returns...| 1040:46/ 1040A:29|2014|
|       A09600|Alternative minim...|           1040:45|2014|
+-------------+--------------------+------------------+----+
only showing top 20 rows

None
root
 |-- Variable_Name: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Value_Line: string (nullable = true)
 |-- year: string (nullable = true)

None

In [55]:
# A04800	Taxable income amount
# A06500	Income tax amount 
# A18425	State and local income taxes amount
# A07220	Child tax credit amount
# A19300	Mortgage interest paid amount

In [56]:
###########################################################################################################################

# DATA SOURCE NUMBER: 5

# INCOME TAX DATA

#Now lets take a look at the tax return data

#Data source: https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2016-zip-code-data-soi

###########################################################################################################################

In [57]:
incomeTaxDF = spark.read.option("header","true").csv("s3://aws-logs-750827748885-us-east-2/tools/ProjectProposal/16zpallnoagi.csv")
incomeTaxDF.cache()
incomeTaxDF.take(1)
print(incomeTaxDF.show(1))
print(incomeTaxDF.printSchema())

+---------+-----+-------+--------+-------+------+------+------+-------+-------+-------+----------+-----+-----+--------+-----+------+-------+---------+-------+---------+-------+--------+------+------+------+-------+------+-------+------+------+------+-------+------+-------+------+-------+------+--------+-----+------+------+------+-------+------+-------+------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+--------+--------+------+-------+------+-------+------+------+------+------+------+------+------+-------+------+-------+------+------+------+------+------+------+------+------+------+-------+------+-------+------+------+-------+--------+-------+--------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+--------+------+-------+------+-------+------+------+------+------+------+------+-------+--------+-------+--------+------+------+------+------+------+-------+-------+-------+
|STATEFIPS|STATE|ZIPCODE|AGI_STUB|     N1| MARS1| MARS2| MARS4|   PREP|     N2| NUMDEP|TOTAL_VITA| VITA|  TCE|VITA_EIC|  RAL|   RAC|ELDERLY|   A00100| N02650|   A02650| N00200|  A00200|N00300|A00300|N00600| A00600|N00650| A00650|N00700|A00700|N00900| A00900|N01000| A01000|N01400| A01400|N01700|  A01700| SCHF|N02300|A02300|N02500| A02500|N26270| A26270|N02900| A02900|N03220|A03220|N03300|A03300|N03270|A03270|N03150|A03150|N03210|A03210|N03230|A03230|N03240|A03240|N04470|  A04470|  A00101|N17000| A17000|N18425| A18425|N18450|A18450|N18500|A18500|N18800|A18800|N18300| A18300|N19300| A19300|N19500|A19500|N19530|A19530|N19550|A19550|N19570|A19570|N19700| A19700|N20800| A20800|N21020|A21020| N04800|  A04800| N05800|  A05800|N09600|A09600|N05780|A05780|N07100|A07100|N07300|A07300|N07180|A07180|N07230|A07230|N07240|A07240|N07220|A07220|N07260|A07260|N09400|A09400|N85770|A85770|N85775|A85775|N09750|A09750| N10600|  A10600|N59660| A59660|N59720| A59720|N11070|A11070|N10960|A10960|N11560|A11560| N06500|  A06500| N10300|  A10300|N85530|A85530|N85300|A85300|N11901| A11901| N11902| A11902|
+---------+-----+-------+--------+-------+------+------+------+-------+-------+-------+----------+-----+-----+--------+-----+------+-------+---------+-------+---------+-------+--------+------+------+------+-------+------+-------+------+------+------+-------+------+-------+------+-------+------+--------+-----+------+------+------+-------+------+-------+------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+--------+--------+------+-------+------+-------+------+------+------+------+------+------+------+-------+------+-------+------+------+------+------+------+------+------+------+------+-------+------+-------+------+------+-------+--------+-------+--------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+--------+------+-------+------+-------+------+------+------+------+------+------+-------+--------+-------+--------+------+------+------+------+------+-------+-------+-------+
|        1|   AL|      0|       0|2016530|825680|748830|402320|1140180|4065690|1417040|     39400|26030|13370|    5720|43470|415860| 475120|114357010|2016520|115806207|1692780|80874192|487730|661987|257950|1593792|236710|1271278|313420|342665|338060|3134618|216140|2962720|170960|2736118|419940|10175468|40500| 51580|157296|296270|4006534| 86880|6647832|462910|1449197| 45330| 11592|  4560|113441| 39640|290341| 23040|103108|131190|138468| 14920| 37316|  2810| 81746|537420|12191895|63516782|142990|1148408|429850|2252158| 88420|131633|428760|644476|374380|128381|534530|3213652|385860|2723972|  6530| 24320| 16820|  8445| 64060| 81553|  9840| 57916|468310|3432168|165450|1289250| 10670|120346|1499090|75791128|1501200|14043581| 19330| 86580| 40870| 29281|622430|703707| 58480| 24509| 95570| 51892|132070|141515|128970| 23543|327480|381927| 37030| 19256|245600|626014| 81900|336437| 90780|368101| 44910| 30279|1937650|17621081|502290|1388980|449420|1226972|342120|449260|142860|132627| 33650| 18934|1318500|13326028|1458270|14219765| 23560| 40254| 28280| 89091|358370|1683323|1583690|4690385|
+---------+-----+-------+--------+-------+------+------+------+-------+-------+-------+----------+-----+-----+--------+-----+------+-------+---------+-------+---------+-------+--------+------+------+------+-------+------+-------+------+------+------+-------+------+-------+------+-------+------+--------+-----+------+------+------+-------+------+-------+------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+--------+--------+------+-------+------+-------+------+------+------+------+------+------+------+-------+------+-------+------+------+------+------+------+------+------+------+------+-------+------+-------+------+------+-------+--------+-------+--------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------+--------+------+-------+------+-------+------+------+------+------+------+------+-------+--------+-------+--------+------+------+------+------+------+-------+-------+-------+
only showing top 1 row

None
root
 |-- STATEFIPS: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- ZIPCODE: string (nullable = true)
 |-- AGI_STUB: string (nullable = true)
 |-- N1: string (nullable = true)
 |-- MARS1: string (nullable = true)
 |-- MARS2: string (nullable = true)
 |-- MARS4: string (nullable = true)
 |-- PREP: string (nullable = true)
 |-- N2: string (nullable = true)
 |-- NUMDEP: string (nullable = true)
 |-- TOTAL_VITA: string (nullable = true)
 |-- VITA: string (nullable = true)
 |-- TCE: string (nullable = true)
 |-- VITA_EIC: string (nullable = true)
 |-- RAL: string (nullable = true)
 |-- RAC: string (nullable = true)
 |-- ELDERLY: string (nullable = true)
 |-- A00100: string (nullable = true)
 |-- N02650: string (nullable = true)
 |-- A02650: string (nullable = true)
 |-- N00200: string (nullable = true)
 |-- A00200: string (nullable = true)
 |-- N00300: string (nullable = true)
 |-- A00300: string (nullable = true)
 |-- N00600: string (nullable = true)
 |-- A00600: string (nullable = true)
 |-- N00650: string (nullable = true)
 |-- A00650: string (nullable = true)
 |-- N00700: string (nullable = true)
 |-- A00700: string (nullable = true)
 |-- N00900: string (nullable = true)
 |-- A00900: string (nullable = true)
 |-- N01000: string (nullable = true)
 |-- A01000: string (nullable = true)
 |-- N01400: string (nullable = true)
 |-- A01400: string (nullable = true)
 |-- N01700: string (nullable = true)
 |-- A01700: string (nullable = true)
 |-- SCHF: string (nullable = true)
 |-- N02300: string (nullable = true)
 |-- A02300: string (nullable = true)
 |-- N02500: string (nullable = true)
 |-- A02500: string (nullable = true)
 |-- N26270: string (nullable = true)
 |-- A26270: string (nullable = true)
 |-- N02900: string (nullable = true)
 |-- A02900: string (nullable = true)
 |-- N03220: string (nullable = true)
 |-- A03220: string (nullable = true)
 |-- N03300: string (nullable = true)
 |-- A03300: string (nullable = true)
 |-- N03270: string (nullable = true)
 |-- A03270: string (nullable = true)
 |-- N03150: string (nullable = true)
 |-- A03150: string (nullable = true)
 |-- N03210: string (nullable = true)
 |-- A03210: string (nullable = true)
 |-- N03230: string (nullable = true)
 |-- A03230: string (nullable = true)
 |-- N03240: string (nullable = true)
 |-- A03240: string (nullable = true)
 |-- N04470: string (nullable = true)
 |-- A04470: string (nullable = true)
 |-- A00101: string (nullable = true)
 |-- N17000: string (nullable = true)
 |-- A17000: string (nullable = true)
 |-- N18425: string (nullable = true)
 |-- A18425: string (nullable = true)
 |-- N18450: string (nullable = true)
 |-- A18450: string (nullable = true)
 |-- N18500: string (nullable = true)
 |-- A18500: string (nullable = true)
 |-- N18800: string (nullable = true)
 |-- A18800: string (nullable = true)
 |-- N18300: string (nullable = true)
 |-- A18300: string (nullable = true)
 |-- N19300: string (nullable = true)
 |-- A19300: string (nullable = true)
 |-- N19500: string (nullable = true)
 |-- A19500: string (nullable = true)
 |-- N19530: string (nullable = true)
 |-- A19530: string (nullable = true)
 |-- N19550: string (nullable = true)
 |-- A19550: string (nullable = true)
 |-- N19570: string (nullable = true)
 |-- A19570: string (nullable = true)
 |-- N19700: string (nullable = true)
 |-- A19700: string (nullable = true)
 |-- N20800: string (nullable = true)
 |-- A20800: string (nullable = true)
 |-- N21020: string (nullable = true)
 |-- A21020: string (nullable = true)
 |-- N04800: string (nullable = true)
 |-- A04800: string (nullable = true)
 |-- N05800: string (nullable = true)
 |-- A05800: string (nullable = true)
 |-- N09600: string (nullable = true)
 |-- A09600: string (nullable = true)
 |-- N05780: string (nullable = true)
 |-- A05780: string (nullable = true)
 |-- N07100: string (nullable = true)
 |-- A07100: string (nullable = true)
 |-- N07300: string (nullable = true)
 |-- A07300: string (nullable = true)
 |-- N07180: string (nullable = true)
 |-- A07180: string (nullable = true)
 |-- N07230: string (nullable = true)
 |-- A07230: string (nullable = true)
 |-- N07240: string (nullable = true)
 |-- A07240: string (nullable = true)
 |-- N07220: string (nullable = true)
 |-- A07220: string (nullable = true)
 |-- N07260: string (nullable = true)
 |-- A07260: string (nullable = true)
 |-- N09400: string (nullable = true)
 |-- A09400: string (nullable = true)
 |-- N85770: string (nullable = true)
 |-- A85770: string (nullable = true)
 |-- N85775: string (nullable = true)
 |-- A85775: string (nullable = true)
 |-- N09750: string (nullable = true)
 |-- A09750: string (nullable = true)
 |-- N10600: string (nullable = true)
 |-- A10600: string (nullable = true)
 |-- N59660: string (nullable = true)
 |-- A59660: string (nullable = true)
 |-- N59720: string (nullable = true)
 |-- A59720: string (nullable = true)
 |-- N11070: string (nullable = true)
 |-- A11070: string (nullable = true)
 |-- N10960: string (nullable = true)
 |-- A10960: string (nullable = true)
 |-- N11560: string (nullable = true)
 |-- A11560: string (nullable = true)
 |-- N06500: string (nullable = true)
 |-- A06500: string (nullable = true)
 |-- N10300: string (nullable = true)
 |-- A10300: string (nullable = true)
 |-- N85530: string (nullable = true)
 |-- A85530: string (nullable = true)
 |-- N85300: string (nullable = true)
 |-- A85300: string (nullable = true)
 |-- N11901: string (nullable = true)
 |-- A11901: string (nullable = true)
 |-- N11902: string (nullable = true)
 |-- A11902: string (nullable = true)

None

In [58]:
#We are mostly just interested in State, Zipcode, A04800, A06500, A18425, A07220, A19300

In [59]:
incomeFields = ["STATE","ZIPCODE","A04800","A06500","A18425","A07220","A19300"]

In [60]:
incomeTaxTrimmedDF = incomeTaxDF.select(incomeFields)

In [61]:
incomeTaxTrimmedDF.printSchema()

root
 |-- STATE: string (nullable = true)
 |-- ZIPCODE: string (nullable = true)
 |-- A04800: string (nullable = true)
 |-- A06500: string (nullable = true)
 |-- A18425: string (nullable = true)
 |-- A07220: string (nullable = true)
 |-- A19300: string (nullable = true)

In [62]:
incomeTaxTrimmedDF.show(1)

+-----+-------+--------+--------+-------+------+-------+
|STATE|ZIPCODE|  A04800|  A06500| A18425|A07220| A19300|
+-----+-------+--------+--------+-------+------+-------+
|   AL|      0|75791128|13326028|2252158|381927|2723972|
+-----+-------+--------+--------+-------+------+-------+
only showing top 1 row

In [63]:
incomeTaxFieldsDF.where(incomeTaxFieldsDF["Variable_Name"] == "A04800").collect()[0].asDict()['Description']

'Taxable income amount'

In [64]:
taxName = {
    "A04800" : incomeTaxFieldsDF.where(incomeTaxFieldsDF["Variable_Name"] == "A04800").collect()[0].asDict()['Description'],
    "A06500" : incomeTaxFieldsDF.where(incomeTaxFieldsDF["Variable_Name"] == "A06500").collect()[0].asDict()['Description'],
    "A18425" : incomeTaxFieldsDF.where(incomeTaxFieldsDF["Variable_Name"] == "A18425").collect()[0].asDict()['Description'],
    "A07220" : incomeTaxFieldsDF.where(incomeTaxFieldsDF["Variable_Name"] == "A07220").collect()[0].asDict()['Description'],
    "A19300" : incomeTaxFieldsDF.where(incomeTaxFieldsDF["Variable_Name"] == "A19300").collect()[0].asDict()['Description']
}

In [65]:
incomeTaxTrimmedDF = incomeTaxTrimmedDF.withColumn("ZIPCODE_INT", incomeTaxTrimmedDF["ZIPCODE"].cast("int"))\
    .select(incomeTaxTrimmedDF["A04800"].alias(taxName["A04800"]),\
           incomeTaxTrimmedDF["A06500"].alias(taxName["A06500"]),\
           incomeTaxTrimmedDF["A18425"].alias(taxName["A18425"]),\
           incomeTaxTrimmedDF["A07220"].alias(taxName["A07220"]),\
           incomeTaxTrimmedDF["A19300"].alias(taxName["A19300"]),\
           "ZIPCODE_INT",\
           "STATE")

In [66]:
incomeTaxTrimmedDF.show()

+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
|Taxable income amount|Income tax amount [8] |State and local income taxes amount|Child tax credit amount|Mortgage interest paid amount|ZIPCODE_INT|STATE|
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
|             75791128|              13326028|                            2252158|                 381927|                      2723972|          0|   AL|
|               187073|                 27082|                               5590|                   1479|                         8524|      35004|   AL|
|                67341|                  8580|                               1703|                    543|                         2796|      35005|   AL|
|                34951|                  4712|                                752|                    307|                          874|      35006|   AL|
|               455626|                 70623|                              14134|                   3182|                        21371|      35007|   AL|
|               231564|                 38102|                               6280|                   1393|                         8614|      35010|   AL|
|                44471|                  6583|                               1237|                    274|                         1589|      35014|   AL|
|               233169|                 35916|                               5156|                   1441|                         7464|      35016|   AL|
|                22056|                  2911|                                335|                    228|                          630|      35019|   AL|
|               110972|                 13665|                               2648|                    980|                         3439|      35020|   AL|
|               348919|                 53394|                              13258|                   1756|                        22491|      35022|   AL|
|               282350|                 38922|                               7324|                   2085|                        11334|      35023|   AL|
|                67940|                  9154|                               1318|                    670|                         1999|      35031|   AL|
|                54100|                  9151|                               1419|                    345|                         1873|      35033|   AL|
|                28922|                  4043|                                631|                    217|                          729|      35034|   AL|
|                23162|                  4923|                                752|                    106|                          456|      35035|   AL|
|               253218|                 37403|                               7553|                   2339|                        12124|      35040|   AL|
|                61974|                  8697|                               1468|                    555|                         1931|      35042|   AL|
|               296268|                 51672|                              11376|                   1706|                        17142|      35043|   AL|
|                74312|                 10570|                               1826|                    561|                         2174|      35044|   AL|
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
only showing top 20 rows

In [67]:
incomeTaxTrimmedDF.printSchema()

root
 |-- Taxable income amount: string (nullable = true)
 |-- Income tax amount [8] : string (nullable = true)
 |-- State and local income taxes amount: string (nullable = true)
 |-- Child tax credit amount: string (nullable = true)
 |-- Mortgage interest paid amount: string (nullable = true)
 |-- ZIPCODE_INT: integer (nullable = true)
 |-- STATE: string (nullable = true)

In [68]:
#When the ZIPCODE is 0 it's for the state

In [69]:
incomeTaxTrimmedStatesDF = incomeTaxTrimmedDF.where(incomeTaxTrimmedDF.ZIPCODE_INT == 0)
print(incomeTaxTrimmedDF.where(incomeTaxTrimmedDF.ZIPCODE_INT == 0).count())
incomeTaxTrimmedStatesDF.show()

51
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
|Taxable income amount|Income tax amount [8] |State and local income taxes amount|Child tax credit amount|Mortgage interest paid amount|ZIPCODE_INT|STATE|
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
|             75791128|              13326028|                            2252158|                 381927|                      2723972|          0|   AL|
|             17591171|               3243514|                              21626|                  76038|                       621580|          0|   AK|
|            124407183|              22819159|                            3624546|                 575391|                      5750666|          0|   AZ|
|             45181798|               7990550|                            1840761|                 241357|                      1240550|          0|   AR|
|            990565154|             210438107|                           80158997|                3073597|                     53141080|          0|   CA|
|            143855538|              27673010|                            5394387|                 499940|                      6858342|          0|   CO|
|            121225699|              26973470|                            8493526|                 252020|                      4503364|          0|   CT|
|             20718395|               3752068|                             989304|                  76478|                      1016667|          0|   DE|
|             24600283|               5579705|                            1811748|                  27195|                       986201|          0|   DC|
|            432734326|              86355052|                            3193364|                1372129|                     13342816|          0|   FL|
|            182460656|              34415556|                            8888331|                 772249|                      7979450|          0|   GA|
|             29822694|               5144286|                            1592471|                 128000|                      1816229|          0|   HI|
|             27832979|               4718961|                            1326306|                 191174|                      1237088|          0|   ID|
|            319387608|              63792792|                           10529400|                1044953|                     10802971|          0|   IL|
|            122017586|              21289192|                            4469645|                 659122|                      3456236|          0|   IN|
|             61289854|              10382532|                            2680247|                 329745|                      1761818|          0|   IA|
|             58241506|              10526553|                            1745302|                 296115|                      1584492|          0|   KS|
|             69582798|              11915833|                            3659489|                 385495|                      2319935|          0|   KY|
|             77265841|              14306600|                            2094327|                 357973|                      2389675|          0|   LA|
|             25269385|               4280419|                            1168173|                 105797|                       927177|          0|   ME|
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
only showing top 20 rows

In [70]:
#Separate data for zipcodes into it's own dataframe

In [71]:
incomeTaxTrimmedZipCodesDF = incomeTaxTrimmedDF.where(incomeTaxTrimmedDF.ZIPCODE_INT > 0)
print(incomeTaxTrimmedDF.where(incomeTaxTrimmedDF.ZIPCODE_INT > 0).count())
incomeTaxTrimmedZipCodesDF.show()

29923
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
|Taxable income amount|Income tax amount [8] |State and local income taxes amount|Child tax credit amount|Mortgage interest paid amount|ZIPCODE_INT|STATE|
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
|               187073|                 27082|                               5590|                   1479|                         8524|      35004|   AL|
|                67341|                  8580|                               1703|                    543|                         2796|      35005|   AL|
|                34951|                  4712|                                752|                    307|                          874|      35006|   AL|
|               455626|                 70623|                              14134|                   3182|                        21371|      35007|   AL|
|               231564|                 38102|                               6280|                   1393|                         8614|      35010|   AL|
|                44471|                  6583|                               1237|                    274|                         1589|      35014|   AL|
|               233169|                 35916|                               5156|                   1441|                         7464|      35016|   AL|
|                22056|                  2911|                                335|                    228|                          630|      35019|   AL|
|               110972|                 13665|                               2648|                    980|                         3439|      35020|   AL|
|               348919|                 53394|                              13258|                   1756|                        22491|      35022|   AL|
|               282350|                 38922|                               7324|                   2085|                        11334|      35023|   AL|
|                67940|                  9154|                               1318|                    670|                         1999|      35031|   AL|
|                54100|                  9151|                               1419|                    345|                         1873|      35033|   AL|
|                28922|                  4043|                                631|                    217|                          729|      35034|   AL|
|                23162|                  4923|                                752|                    106|                          456|      35035|   AL|
|               253218|                 37403|                               7553|                   2339|                        12124|      35040|   AL|
|                61974|                  8697|                               1468|                    555|                         1931|      35042|   AL|
|               296268|                 51672|                              11376|                   1706|                        17142|      35043|   AL|
|                74312|                 10570|                               1826|                    561|                         2174|      35044|   AL|
|               152562|                 22930|                               3780|                   1310|                         4642|      35045|   AL|
+---------------------+----------------------+-----------------------------------+-----------------------+-----------------------------+-----------+-----+
only showing top 20 rows

In [72]:
#Below is optional work to show the writing of Data into HIVE.
#For this project I will be using the dataframes above but let this is as an alternaitve approach.

## Create table in Hive and Save Data from Spark DataFRame into Hive

In [73]:
complaintsDF.write.saveAsTable("cust_complains.sample_cust_complaints")

'Table `cust_complains`.`sample_cust_complaints` already exists.;'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 775, in saveAsTable
    self._jwrite.saveAsTable(name)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'Table `cust_complains`.`sample_cust_complaints` already exists.;'

In [74]:
countyDataDF.write.saveAsTable("cust_complains.county_demographic_data")

'Table `cust_complains`.`county_demographic_data` already exists.;'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 775, in saveAsTable
    self._jwrite.saveAsTable(name)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'Table `cust_complains`.`county_demographic_data` already exists.;'

In [75]:
zipCodeDF.write.saveAsTable("cust_complains.zip_code_to_county")

'Table `cust_complains`.`zip_code_to_county` already exists.;'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 775, in saveAsTable
    self._jwrite.saveAsTable(name)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'Table `cust_complains`.`zip_code_to_county` already exists.;'

In [76]:
incomeTaxDF.write.saveAsTable("cust_complains.income_tax_data")

'Table `cust_complains`.`income_tax_data` already exists.;'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 775, in saveAsTable
    self._jwrite.saveAsTable(name)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'Table `cust_complains`.`income_tax_data` already exists.;'

In [77]:
incomeTaxFieldsDF.write.saveAsTable("cust_complains.income_tax_fields")

'Table `cust_complains`.`income_tax_fields` already exists.;'
Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 775, in saveAsTable
    self._jwrite.saveAsTable(name)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 69, in deco
    raise AnalysisException(s.split(': ', 1)[1], stackTrace)
pyspark.sql.utils.AnalysisException: 'Table `cust_complains`.`income_tax_fields` already exists.;'

In [78]:
spark.sql("show tables in cust_complains").show()

+--------------+--------------------+-----------+
|      database|           tableName|isTemporary|
+--------------+--------------------+-----------+
|cust_complains|county_demographi...|      false|
|cust_complains|     income_tax_data|      false|
|cust_complains|   income_tax_fields|      false|
|cust_complains|sample_cust_compl...|      false|
|cust_complains|  zip_code_to_county|      false|
|              |  complaints_trimmed|       true|
+--------------+--------------------+-----------+

In [79]:
#Let's verify what the tables look like inside of HIVE

In [80]:
#Lets see Hive Table information
spark.sql("describe formatted cust_complains.sample_cust_complaints").show(n=100)

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       date_received|              string|   null|
|             product|              string|   null|
|         sub_product|              string|   null|
|               issue|              string|   null|
|           sub_issue|              string|   null|
|consumer_complain...|              string|   null|
|company_public_re...|              string|   null|
|             company|              string|   null|
|               state|              string|   null|
|            zip_code|              string|   null|
|                tags|              string|   null|
|consumer_consent_...|              string|   null|
|       submitted_via|              string|   null|
|date_sent_to_company|              string|   null|
|    company_response|              string|   null|
|     timely_response|              string|   null|
|   consumer_disputed|              string|   null|
|        complaint_id|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|      cust_complains|       |
|               Table|sample_cust_compl...|       |
|               Owner|                livy|       |
|        Created Time|Mon May 06 00:36:...|       |
|         Last Access|Thu Jan 01 00:00:...|       |
|          Created By|         Spark 2.4.0|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|    Table Properties|[transient_lastDd...|       |
|          Statistics|     238506250 bytes|       |
|            Location|hdfs://ip-172-31-...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
|  Storage Properties|[serialization.fo...|       |
+--------------------+--------------------+-------+

In [81]:
spark.sql("describe formatted cust_complains.county_demographic_data").show(n=100)

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            CountyId|              string|   null|
|               State|              string|   null|
|              County|              string|   null|
|            TotalPop|              string|   null|
|                 Men|              string|   null|
|               Women|              string|   null|
|            Hispanic|              string|   null|
|               White|              string|   null|
|               Black|              string|   null|
|              Native|              string|   null|
|               Asian|              string|   null|
|             Pacific|              string|   null|
|    VotingAgeCitizen|              string|   null|
|              Income|              string|   null|
|           IncomeErr|              string|   null|
|        IncomePerCap|              string|   null|
|     IncomePerCapErr|              string|   null|
|             Poverty|              string|   null|
|        ChildPoverty|              string|   null|
|        Professional|              string|   null|
|             Service|              string|   null|
|              Office|              string|   null|
|        Construction|              string|   null|
|          Production|              string|   null|
|               Drive|              string|   null|
|             Carpool|              string|   null|
|             Transit|              string|   null|
|                Walk|              string|   null|
|         OtherTransp|              string|   null|
|          WorkAtHome|              string|   null|
|         MeanCommute|              string|   null|
|            Employed|              string|   null|
|         PrivateWork|              string|   null|
|          PublicWork|              string|   null|
|        SelfEmployed|              string|   null|
|          FamilyWork|              string|   null|
|        Unemployment|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|      cust_complains|       |
|               Table|county_demographi...|       |
|               Owner|                livy|       |
|        Created Time|Mon May 06 00:36:...|       |
|         Last Access|Thu Jan 01 00:00:...|       |
|          Created By|         Spark 2.4.0|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|    Table Properties|[transient_lastDd...|       |
|          Statistics|        306883 bytes|       |
|            Location|hdfs://ip-172-31-...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
|  Storage Properties|[serialization.fo...|       |
+--------------------+--------------------+-------+

In [82]:
spark.sql("describe formatted cust_complains.zip_code_to_county").show(n=100)

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|                 ZIP|              string|   null|
|          COUNTYNAME|              string|   null|
|               STATE|              string|   null|
|          STCOUNTYFP|              string|   null|
|             CLASSFP|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|      cust_complains|       |
|               Table|  zip_code_to_county|       |
|               Owner|                livy|       |
|        Created Time|Mon May 06 00:36:...|       |
|         Last Access|Thu Jan 01 00:00:...|       |
|          Created By|         Spark 2.4.0|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|    Table Properties|[transient_lastDd...|       |
|          Statistics|        336287 bytes|       |
|            Location|hdfs://ip-172-31-...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
|  Storage Properties|[serialization.fo...|       |
+--------------------+--------------------+-------+

In [83]:
spark.sql("describe formatted cust_complains.income_tax_data").show(n=100)

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
| STATEFIPS|   string|   null|
|     STATE|   string|   null|
|   ZIPCODE|   string|   null|
|  AGI_STUB|   string|   null|
|        N1|   string|   null|
|     MARS1|   string|   null|
|     MARS2|   string|   null|
|     MARS4|   string|   null|
|      PREP|   string|   null|
|        N2|   string|   null|
|    NUMDEP|   string|   null|
|TOTAL_VITA|   string|   null|
|      VITA|   string|   null|
|       TCE|   string|   null|
|  VITA_EIC|   string|   null|
|       RAL|   string|   null|
|       RAC|   string|   null|
|   ELDERLY|   string|   null|
|    A00100|   string|   null|
|    N02650|   string|   null|
|    A02650|   string|   null|
|    N00200|   string|   null|
|    A00200|   string|   null|
|    N00300|   string|   null|
|    A00300|   string|   null|
|    N00600|   string|   null|
|    A00600|   string|   null|
|    N00650|   string|   null|
|    A00650|   string|   null|
|    N00700|   string|   null|
|    A00700|   string|   null|
|    N00900|   string|   null|
|    A00900|   string|   null|
|    N01000|   string|   null|
|    A01000|   string|   null|
|    N01400|   string|   null|
|    A01400|   string|   null|
|    N01700|   string|   null|
|    A01700|   string|   null|
|      SCHF|   string|   null|
|    N02300|   string|   null|
|    A02300|   string|   null|
|    N02500|   string|   null|
|    A02500|   string|   null|
|    N26270|   string|   null|
|    A26270|   string|   null|
|    N02900|   string|   null|
|    A02900|   string|   null|
|    N03220|   string|   null|
|    A03220|   string|   null|
|    N03300|   string|   null|
|    A03300|   string|   null|
|    N03270|   string|   null|
|    A03270|   string|   null|
|    N03150|   string|   null|
|    A03150|   string|   null|
|    N03210|   string|   null|
|    A03210|   string|   null|
|    N03230|   string|   null|
|    A03230|   string|   null|
|    N03240|   string|   null|
|    A03240|   string|   null|
|    N04470|   string|   null|
|    A04470|   string|   null|
|    A00101|   string|   null|
|    N17000|   string|   null|
|    A17000|   string|   null|
|    N18425|   string|   null|
|    A18425|   string|   null|
|    N18450|   string|   null|
|    A18450|   string|   null|
|    N18500|   string|   null|
|    A18500|   string|   null|
|    N18800|   string|   null|
|    A18800|   string|   null|
|    N18300|   string|   null|
|    A18300|   string|   null|
|    N19300|   string|   null|
|    A19300|   string|   null|
|    N19500|   string|   null|
|    A19500|   string|   null|
|    N19530|   string|   null|
|    A19530|   string|   null|
|    N19550|   string|   null|
|    A19550|   string|   null|
|    N19570|   string|   null|
|    A19570|   string|   null|
|    N19700|   string|   null|
|    A19700|   string|   null|
|    N20800|   string|   null|
|    A20800|   string|   null|
|    N21020|   string|   null|
|    A21020|   string|   null|
|    N04800|   string|   null|
|    A04800|   string|   null|
|    N05800|   string|   null|
|    A05800|   string|   null|
|    N09600|   string|   null|
|    A09600|   string|   null|
|    N05780|   string|   null|
+----------+---------+-------+
only showing top 100 rows

In [84]:
spark.sql("describe formatted cust_complains.income_tax_fields").show(n=100)

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|       Variable_Name|              string|   null|
|         Description|              string|   null|
|          Value_Line|              string|   null|
|                year|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|      cust_complains|       |
|               Table|   income_tax_fields|       |
|               Owner|                livy|       |
|        Created Time|Mon May 06 00:36:...|       |
|         Last Access|Thu Jan 01 00:00:...|       |
|          Created By|         Spark 2.4.0|       |
|                Type|             MANAGED|       |
|            Provider|             parquet|       |
|    Table Properties|[transient_lastDd...|       |
|          Statistics|          4684 bytes|       |
|            Location|hdfs://ip-172-31-...|       |
|       Serde Library|org.apache.hadoop...|       |
|         InputFormat|org.apache.hadoop...|       |
|        OutputFormat|org.apache.hadoop...|       |
|  Storage Properties|[serialization.fo...|       |
+--------------------+--------------------+-------+

## Exploratory Analysis

In [85]:
joinType = "inner"
joinExpression = complaintsTrimmedValidZipDf["zip_code"] == zipCodeTrimmedDF["ZIP"]
df = complaintsTrimmedValidZipDf.join(zipCodeTrimmedDF, joinExpression, joinType).drop(complaintsTrimmedValidZipDf["state"]).drop(complaintsTrimmedValidZipDf["zip_code"])
df.printSchema()

root
 |-- product: string (nullable = true)
 |-- sub_product: string (nullable = true)
 |-- issue: string (nullable = true)
 |-- company: string (nullable = true)
 |-- ZIP: string (nullable = true)
 |-- COUNTYNAME: string (nullable = true)
 |-- STATE: string (nullable = true)

In [86]:
complaintsTrimmedValidZipDf.show()

+--------------------+--------------------+--------------------+--------------------+--------+-----+
|             product|         sub_product|               issue|             company|zip_code|state|
+--------------------+--------------------+--------------------+--------------------+--------+-----+
|         Credit card|                    |            Late fee|CAPITAL ONE FINAN...|   21206|   MD|
|     Debt collection|Federal student loan|Communication tac...|Navient Solutions...|   60098|   IL|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|   02893|   RI|
|     Debt collection|         Credit card|Improper contact ...|JPMORGAN CHASE & CO.|   33619|   FL|
|Bank account or s...|    Checking account|Account opening, ...|      CITIBANK, N.A.|   84092|   UT|
|            Mortgage|      Other mortgage|Loan modification...|OCWEN LOAN SERVIC...|        |   MD|
|            Mortgage|Home equity loan ...|Loan servicing, p...|M&T BANK CORPORATION|        |   NY|
|Bank account or s...|Other bank produc...|Account opening, ...|UNITED SERVICES A...|   89107|   NV|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|   19151|   PA|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|   38401|   TN|
|         Credit card|                    |   Billing statement|      CITIBANK, N.A.|        |   WV|
|            Mortgage|        FHA mortgage|Loan servicing, p...|BANK OF AMERICA, ...|   33312|   FL|
|         Credit card|                    |   Transaction issue|JPMORGAN CHASE & CO.|   22556|   VA|
|    Credit reporting|                    |Incorrect informa...|TRANSUNION INTERM...|   55422|   MN|
|            Mortgage|        FHA mortgage|Application, orig...|AMERICAN FINANCIN...|        |   NC|
|            Mortgage|Conventional adju...|Loan modification...|WELLS FARGO & COM...|        |   CA|
|    Credit reporting|                    |Improper use of m...|TRANSUNION INTERM...|   92675|   CA|
|     Debt collection|       I do not know|Cont'd attempts c...|Armor Systems Cor...|   60609|   IL|
|         Credit card|                    |               Other|BANK OF AMERICA, ...|   48212|   MI|
|            Mortgage|      Other mortgage|Loan modification...|WELLS FARGO & COM...|   07071|   NJ|
+--------------------+--------------------+--------------------+--------------------+--------+-----+
only showing top 20 rows

In [87]:
df.show()

+--------------------+--------------------+--------------------+--------------------+-----+-------------------+-----+
|             product|         sub_product|               issue|             company|  ZIP|         COUNTYNAME|STATE|
+--------------------+--------------------+--------------------+--------------------+-----+-------------------+-----+
|         Credit card|                    |            Late fee|CAPITAL ONE FINAN...|21206|     Baltimore city|   MD|
|         Credit card|                    |            Late fee|CAPITAL ONE FINAN...|21206|   Baltimore County|   MD|
|     Debt collection|Federal student loan|Communication tac...|Navient Solutions...|60098|     McHenry County|   IL|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|02893|        Kent County|   RI|
|     Debt collection|         Credit card|Improper contact ...|JPMORGAN CHASE & CO.|33619|Hillsborough County|   FL|
|Bank account or s...|    Checking account|Account opening, ...|      CITIBANK, N.A.|84092|   Salt Lake County|   UT|
|Bank account or s...|Other bank produc...|Account opening, ...|UNITED SERVICES A...|89107|       Clark County|   NV|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|19151|Philadelphia County|   PA|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|38401|  Williamson County|   TN|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|38401|       Maury County|   TN|
|    Credit reporting|                    |Incorrect informa...|       EQUIFAX, INC.|38401|    Marshall County|   TN|
|            Mortgage|        FHA mortgage|Loan servicing, p...|BANK OF AMERICA, ...|33312|     Broward County|   FL|
|         Credit card|                    |   Transaction issue|JPMORGAN CHASE & CO.|22556|    Stafford County|   VA|
|         Credit card|                    |   Transaction issue|JPMORGAN CHASE & CO.|22556|    Fauquier County|   VA|
|    Credit reporting|                    |Incorrect informa...|TRANSUNION INTERM...|55422|    Hennepin County|   MN|
|    Credit reporting|                    |Improper use of m...|TRANSUNION INTERM...|92675|      Orange County|   CA|
|     Debt collection|       I do not know|Cont'd attempts c...|Armor Systems Cor...|60609|        Cook County|   IL|
|         Credit card|                    |               Other|BANK OF AMERICA, ...|48212|       Wayne County|   MI|
|            Mortgage|      Other mortgage|Loan modification...|WELLS FARGO & COM...|07071|      Bergen County|   NJ|
|            Mortgage|Conventional fixe...|Loan servicing, p...|RoundPoint Mortga...|94547|Contra Costa County|   CA|
+--------------------+--------------------+--------------------+--------------------+-----+-------------------+-----+
only showing top 20 rows

In [88]:
df.count()

871641

In [89]:
countyDataTotalDf.count()

3220

In [90]:
countyDataTotalDf.show()

+--------+-----+----------------+--------+-----+------+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
|CountyId|State|          County|TotalPop|  Men| Women|Hispanic|White|Black|Native|Asian|Pacific|Total Hispanic|Total White|Total Black|Total Native|Total Asian|Total Pacific|
+--------+-----+----------------+--------+-----+------+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
|    1001|   AL|  Autauga County|   55036|26899| 28137|     2.7| 75.4| 18.9|   0.3|  0.9|    0.0|        1486.0|    41497.0|    10402.0|       165.0|      495.0|          0.0|
|    1003|   AL|  Baldwin County|  203360|99527|103833|     4.4| 83.1|  9.5|   0.8|  0.7|    0.0|        8948.0|   168992.0|    19319.0|      1627.0|     1424.0|          0.0|
|    1005|   AL|  Barbour County|   26201|13976| 12225|     4.2| 45.7| 47.8|   0.2|  0.6|    0.0|        1100.0|    11974.0|    12524.0|        52.0|      157.0|          0.0|
|    1007|   AL|     Bibb County|   22580|12251| 10329|     2.4| 74.6| 22.0|   0.4|  0.0|    0.0|         542.0|    16845.0|     4968.0|        90.0|        0.0|          0.0|
|    1009|   AL|   Blount County|   57667|28490| 29177|     9.0| 87.4|  1.5|   0.3|  0.1|    0.0|        5190.0|    50401.0|      865.0|       173.0|       58.0|          0.0|
|    1011|   AL|  Bullock County|   10478| 5616|  4862|     0.3| 21.6| 75.6|   1.0|  0.7|    0.0|          31.0|     2263.0|     7921.0|       105.0|       73.0|          0.0|
|    1013|   AL|   Butler County|   20126| 9416| 10710|     0.3| 52.2| 44.7|   0.1|  1.1|    0.0|          60.0|    10506.0|     8996.0|        20.0|      221.0|          0.0|
|    1015|   AL|  Calhoun County|  115527|55593| 59934|     3.6| 72.7| 20.4|   0.2|  1.0|    0.0|        4159.0|    83988.0|    23568.0|       231.0|     1155.0|          0.0|
|    1017|   AL| Chambers County|   33895|16320| 17575|     2.2| 56.2| 39.3|   0.3|  1.0|    0.0|         746.0|    19049.0|    13321.0|       102.0|      339.0|          0.0|
|    1019|   AL| Cherokee County|   25855|12862| 12993|     1.6| 91.8|  5.0|   0.5|  0.1|    0.0|         414.0|    23735.0|     1293.0|       129.0|       26.0|          0.0|
|    1021|   AL|  Chilton County|   43805|21554| 22251|     7.7| 80.4|  9.5|   0.4|  0.4|    0.0|        3373.0|    35219.0|     4161.0|       175.0|      175.0|          0.0|
|    1023|   AL|  Choctaw County|   13188| 6277|  6911|     0.5| 56.3| 42.1|   0.0|  0.1|    0.0|          66.0|     7425.0|     5552.0|         0.0|       13.0|          0.0|
|    1025|   AL|   Clarke County|   24625|11649| 12976|     0.2| 53.0| 45.7|   0.1|  0.5|    0.1|          49.0|    13051.0|    11254.0|        25.0|      123.0|         25.0|
|    1027|   AL|     Clay County|   13407| 6471|  6936|     3.1| 80.2| 14.7|   0.9|  0.0|    0.0|         416.0|    10752.0|     1971.0|       121.0|        0.0|          0.0|
|    1029|   AL| Cleburne County|   14939| 7367|  7572|     2.4| 92.7|  2.8|   0.3|  0.5|    0.0|         359.0|    13848.0|      418.0|        45.0|       75.0|          0.0|
|    1031|   AL|   Coffee County|   51073|25225| 25848|     6.7| 71.0| 17.1|   1.0|  1.3|    0.0|        3422.0|    36262.0|     8733.0|       511.0|      664.0|          0.0|
|    1033|   AL|  Colbert County|   54435|26143| 28292|     2.4| 78.8| 15.9|   0.7|  0.5|    0.0|        1306.0|    42895.0|     8655.0|       381.0|      272.0|          0.0|
|    1035|   AL|  Conecuh County|   12649| 6040|  6609|     1.8| 50.3| 46.3|   0.2|  0.0|    0.0|         228.0|     6362.0|     5856.0|        25.0|        0.0|          0.0|
|    1037|   AL|    Coosa County|   10955| 5474|  5481|     0.1| 65.3| 33.2|   0.1|  0.0|    0.0|          11.0|     7154.0|     3637.0|        11.0|        0.0|          0.0|
|    1039|   AL|Covington County|   37519|18133| 19386|     1.6| 83.5| 13.0|   0.3|  0.4|    0.0|         600.0|    31328.0|     4877.0|       113.0|      150.0|          0.0|
+--------+-----+----------------+--------+-----+------+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
only showing top 20 rows

In [91]:
complaintsByCountyDF = df.groupby("COUNTYNAME","STATE").count().withColumnRenamed("count", "complaint total")

In [92]:
complaintsByCountyDF.count()

2916

In [93]:
joinType = "inner"
joinExpression = (complaintsByCountyDF["COUNTYNAME"] == countyDataTotalDf["County"]) & (complaintsByCountyDF["STATE"] == countyDataTotalDf["State"])
df2 = complaintsByCountyDF.join(countyDataTotalDf, joinExpression, joinType).drop(countyDataTotalDf["State"])
df2.printSchema()

root
 |-- COUNTYNAME: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- complaint total: long (nullable = false)
 |-- CountyId: string (nullable = true)
 |-- County: string (nullable = true)
 |-- TotalPop: string (nullable = true)
 |-- Men: string (nullable = true)
 |-- Women: string (nullable = true)
 |-- Hispanic: string (nullable = true)
 |-- White: string (nullable = true)
 |-- Black: string (nullable = true)
 |-- Native: string (nullable = true)
 |-- Asian: string (nullable = true)
 |-- Pacific: string (nullable = true)
 |-- Total Hispanic: double (nullable = true)
 |-- Total White: double (nullable = true)
 |-- Total Black: double (nullable = true)
 |-- Total Native: double (nullable = true)
 |-- Total Asian: double (nullable = true)
 |-- Total Pacific: double (nullable = true)

In [94]:
df2.select(["STATE","CountyId","County","TotalPop","Total Hispanic"]).show()

+-----+--------+--------------------+--------+--------------+
|STATE|CountyId|              County|TotalPop|Total Hispanic|
+-----+--------+--------------------+--------+--------------+
|   CA|    6019|       Fresno County|  971616|      509127.0|
|   KS|   20149| Pottawatomie County|   23188|        1229.0|
|   IL|   17203|     Woodford County|   38942|         662.0|
|   LA|   22057|    Lafourche Parish|   98112|        4317.0|
|   KS|   20151|        Pratt County|    9670|         696.0|
|   MS|   28107|       Panola County|   34229|         582.0|
|   UT|   49047|       Uintah County|   36343|        2980.0|
|   IA|   19129|        Mills County|   14933|         418.0|
|   MI|   26165|      Wexford County|   32915|         592.0|
|   NC|   37073|        Gates County|   11601|          81.0|
|   MO|   29151|        Osage County|   13610|         109.0|
|   MO|   29105|      Laclede County|   35488|         816.0|
|   TN|   47013|     Campbell County|   39824|         478.0|
|   MT|   30037|Golden Valley County|     747|          65.0|
|   IL|   17033|     Crawford County|   19214|         557.0|
|   MT|   30009|       Carbon County|   10466|         251.0|
|   MS|   28125|      Sharkey County|    4631|          28.0|
|   AR|    5037|        Cross County|   17164|         326.0|
|   GA|   13067|         Cobb County|  739072|       94601.0|
|   MO|   29109|     Lawrence County|   38131|        2745.0|
+-----+--------+--------------------+--------+--------------+
only showing top 20 rows

In [95]:
df2.count()

2894

In [96]:
df2.show(1)

+---------------+-----+---------------+--------+---------------+--------+-----+-----+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
|     COUNTYNAME|STATE|complaint total|CountyId|         County|TotalPop|  Men|Women|Hispanic|White|Black|Native|Asian|Pacific|Total Hispanic|Total White|Total Black|Total Native|Total Asian|Total Pacific|
+---------------+-----+---------------+--------+---------------+--------+-----+-----+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
|Woodford County|   IL|             70|   17203|Woodford County|   38942|19374|19568|     1.7| 95.7|  0.6|   0.1|  0.8|    0.0|         662.0|    37267.0|      234.0|        39.0|      312.0|          0.0|
+---------------+-----+---------------+--------+---------------+--------+-----+-----+--------+-----+-----+------+-----+-------+--------------+-----------+-----------+------------+-----------+-------------+
only showing top 1 row

In [97]:
populatonTotals = df2.groupby("STATE").agg(sum("TotalPop").alias("Total Pop"),
                        sum("Total Hispanic").alias("Hispanic Pop"),
                        sum("Total White").alias("White Pop"),
                        sum("Total Black").alias("Black Pop"),
                        sum("Total Native").alias("Native Pop"),
                        sum("Total Asian").alias("Asian Pop"),
                        sum("Total Pacific").alias("Pacific Pop"), 
                        sum("complaint total").alias("Complaints Total"))

In [98]:
columns = ["STATE","White %","Hispanic %","Black %","Native %","Asian %","Pacific %","Complaints Total"]

populatonTotals = populatonTotals.withColumn("White %", round((populatonTotals["White Pop"] / populatonTotals["Total Pop"]), 2))\
.withColumn("Hispanic %", round((populatonTotals["Hispanic Pop"] / populatonTotals["Total Pop"]), 2))\
.withColumn("Black %", round((populatonTotals["Black Pop"] / populatonTotals["Total Pop"]), 2))\
.withColumn("Native %", round((populatonTotals["Native Pop"] / populatonTotals["Total Pop"]), 2))\
.withColumn("Asian %", round((populatonTotals["Asian Pop"] / populatonTotals["Total Pop"]), 2))\
.withColumn("Pacific %", round((populatonTotals["Pacific Pop"] / populatonTotals["Total Pop"]), 2)).select(columns)

In [99]:
populatonTotals.show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   SC|   0.64|      0.05|   0.27|     0.0|   0.01|      0.0|           13821|
|   AZ|   0.56|      0.31|   0.04|    0.04|   0.03|      0.0|           16735|
|   LA|   0.59|      0.05|   0.32|    0.01|   0.02|      0.0|            9082|
|   MN|   0.81|      0.05|   0.06|    0.01|   0.05|      0.0|            8456|
|   NJ|   0.56|       0.2|   0.13|     0.0|   0.09|      0.0|           31243|
|   DC|   0.36|      0.11|   0.47|     0.0|   0.04|      0.0|            3933|
|   OR|   0.76|      0.13|   0.02|    0.01|   0.04|      0.0|            9583|
|   VA|   0.63|      0.09|   0.19|     0.0|   0.06|      0.0|           32700|
|   RI|   0.73|      0.15|   0.05|     0.0|   0.03|      0.0|            2120|
|   KY|   0.85|      0.04|   0.08|     0.0|   0.01|      0.0|            7244|
|   WY|   0.84|       0.1|   0.01|    0.02|   0.01|      0.0|             460|
|   NH|   0.91|      0.03|   0.01|     0.0|   0.02|      0.0|            2006|
|   MI|   0.75|      0.05|   0.14|     0.0|   0.03|      0.0|           19435|
|   NV|    0.5|      0.28|   0.08|    0.01|   0.08|     0.01|            9751|
|   WI|   0.82|      0.07|   0.06|    0.01|   0.03|      0.0|            8538|
|   ID|   0.82|      0.12|   0.01|    0.01|   0.01|      0.0|            2559|
|   CA|   0.38|      0.39|   0.06|     0.0|   0.14|      0.0|          120248|
|   NE|   0.79|      0.11|   0.05|     0.0|   0.02|      0.0|            1757|
|   CT|   0.68|      0.15|    0.1|     0.0|   0.04|      0.0|            7492|
|   MT|   0.86|      0.04|    0.0|    0.06|   0.01|      0.0|            1052|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [100]:
#Let the analysis begin. Let's look at the states with the highest complaints.

In [101]:
populatonTotals.orderBy("Complaints Total", ascending=False).show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   CA|   0.38|      0.39|   0.06|     0.0|   0.14|      0.0|          120248|
|   TX|   0.43|      0.39|   0.12|     0.0|   0.04|      0.0|           79343|
|   FL|   0.55|      0.25|   0.15|     0.0|   0.03|      0.0|           77721|
|   GA|   0.54|      0.09|   0.31|     0.0|   0.04|      0.0|           67321|
|   NY|   0.56|      0.19|   0.14|     0.0|   0.08|      0.0|           55542|
|   IL|   0.62|      0.17|   0.14|     0.0|   0.05|      0.0|           35045|
|   NC|   0.64|      0.09|   0.21|    0.01|   0.03|      0.0|           33982|
|   VA|   0.63|      0.09|   0.19|     0.0|   0.06|      0.0|           32700|
|   NJ|   0.56|       0.2|   0.13|     0.0|   0.09|      0.0|           31243|
|   OH|    0.8|      0.04|   0.12|     0.0|   0.02|      0.0|           28097|
|   MD|   0.52|       0.1|   0.29|     0.0|   0.06|      0.0|           26695|
|   PA|   0.77|      0.07|   0.11|     0.0|   0.03|      0.0|           24160|
|   MI|   0.75|      0.05|   0.14|     0.0|   0.03|      0.0|           19435|
|   CO|   0.69|      0.21|   0.04|    0.01|   0.03|      0.0|           17582|
|   AZ|   0.56|      0.31|   0.04|    0.04|   0.03|      0.0|           16735|
|   TN|   0.74|      0.05|   0.17|     0.0|   0.02|      0.0|           15983|
|   WA|    0.7|      0.12|   0.04|    0.01|   0.08|     0.01|           15695|
|   SC|   0.64|      0.05|   0.27|     0.0|   0.01|      0.0|           13821|
|   MA|   0.73|      0.11|   0.07|     0.0|   0.06|      0.0|           12712|
|   MO|    0.8|      0.04|   0.12|     0.0|   0.02|      0.0|           11156|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [102]:
populatonTotals.orderBy("White %", ascending=False).show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   ME|   0.94|      0.02|   0.01|    0.01|   0.01|      0.0|            1037|
|   VT|   0.93|      0.02|   0.01|     0.0|   0.02|      0.0|             442|
|   WV|   0.92|      0.01|   0.04|     0.0|   0.01|      0.0|            1413|
|   NH|   0.91|      0.03|   0.01|     0.0|   0.02|      0.0|            2006|
|   MT|   0.86|      0.04|    0.0|    0.06|   0.01|      0.0|            1052|
|   ND|   0.86|      0.03|   0.02|    0.05|   0.01|      0.0|             548|
|   IA|   0.86|      0.06|   0.04|     0.0|   0.02|      0.0|            2611|
|   SD|   0.85|      0.04|   0.02|    0.05|   0.02|      0.0|             892|
|   KY|   0.85|      0.04|   0.08|     0.0|   0.01|      0.0|            7244|
|   WY|   0.84|       0.1|   0.01|    0.02|   0.01|      0.0|             460|
|   ID|   0.82|      0.12|   0.01|    0.01|   0.01|      0.0|            2559|
|   WI|   0.82|      0.07|   0.06|    0.01|   0.03|      0.0|            8538|
|   MN|   0.81|      0.05|   0.06|    0.01|   0.05|      0.0|            8456|
|   MO|    0.8|      0.04|   0.12|     0.0|   0.02|      0.0|           11156|
|   OH|    0.8|      0.04|   0.12|     0.0|   0.02|      0.0|           28097|
|   IN|    0.8|      0.07|   0.09|     0.0|   0.02|      0.0|           10708|
|   NE|   0.79|      0.11|   0.05|     0.0|   0.02|      0.0|            1757|
|   UT|   0.79|      0.14|   0.01|    0.01|   0.02|     0.01|            4724|
|   PA|   0.77|      0.07|   0.11|     0.0|   0.03|      0.0|           24160|
|   OR|   0.76|      0.13|   0.02|    0.01|   0.04|      0.0|            9583|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [103]:
populatonTotals.orderBy("Hispanic %", ascending=False).show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   PR|   0.01|      0.99|    0.0|     0.0|    0.0|      0.0|            4652|
|   NM|   0.39|      0.46|   0.02|     0.1|   0.01|      0.0|            2951|
|   CA|   0.38|      0.39|   0.06|     0.0|   0.14|      0.0|          120248|
|   TX|   0.43|      0.39|   0.12|     0.0|   0.04|      0.0|           79343|
|   AZ|   0.56|      0.31|   0.04|    0.04|   0.03|      0.0|           16735|
|   NV|    0.5|      0.28|   0.08|    0.01|   0.08|     0.01|            9751|
|   FL|   0.55|      0.25|   0.15|     0.0|   0.03|      0.0|           77721|
|   CO|   0.69|      0.21|   0.04|    0.01|   0.03|      0.0|           17582|
|   NJ|   0.56|       0.2|   0.13|     0.0|   0.09|      0.0|           31243|
|   NY|   0.56|      0.19|   0.14|     0.0|   0.08|      0.0|           55542|
|   IL|   0.62|      0.17|   0.14|     0.0|   0.05|      0.0|           35045|
|   CT|   0.68|      0.15|    0.1|     0.0|   0.04|      0.0|            7492|
|   RI|   0.73|      0.15|   0.05|     0.0|   0.03|      0.0|            2120|
|   UT|   0.79|      0.14|   0.01|    0.01|   0.02|     0.01|            4724|
|   OR|   0.76|      0.13|   0.02|    0.01|   0.04|      0.0|            9583|
|   ID|   0.82|      0.12|   0.01|    0.01|   0.01|      0.0|            2559|
|   KS|   0.76|      0.12|   0.06|    0.01|   0.03|      0.0|            3131|
|   WA|    0.7|      0.12|   0.04|    0.01|   0.08|     0.01|           15695|
|   NE|   0.79|      0.11|   0.05|     0.0|   0.02|      0.0|            1757|
|   MA|   0.73|      0.11|   0.07|     0.0|   0.06|      0.0|           12712|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [104]:
populatonTotals.orderBy("Black %", ascending=False).show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   DC|   0.36|      0.11|   0.47|     0.0|   0.04|      0.0|            3933|
|   MS|   0.57|      0.03|   0.37|     0.0|   0.01|      0.0|            4878|
|   LA|   0.59|      0.05|   0.32|    0.01|   0.02|      0.0|            9082|
|   GA|   0.54|      0.09|   0.31|     0.0|   0.04|      0.0|           67321|
|   MD|   0.52|       0.1|   0.29|     0.0|   0.06|      0.0|           26695|
|   SC|   0.64|      0.05|   0.27|     0.0|   0.01|      0.0|           13821|
|   AL|   0.66|      0.04|   0.26|     0.0|   0.01|      0.0|            6885|
|   DE|   0.63|      0.09|   0.21|     0.0|   0.04|      0.0|            3401|
|   NC|   0.64|      0.09|   0.21|    0.01|   0.03|      0.0|           33982|
|   VA|   0.63|      0.09|   0.19|     0.0|   0.06|      0.0|           32700|
|   TN|   0.74|      0.05|   0.17|     0.0|   0.02|      0.0|           15983|
|   AR|   0.73|      0.07|   0.15|    0.01|   0.01|      0.0|            3789|
|   FL|   0.55|      0.25|   0.15|     0.0|   0.03|      0.0|           77721|
|   IL|   0.62|      0.17|   0.14|     0.0|   0.05|      0.0|           35045|
|   MI|   0.75|      0.05|   0.14|     0.0|   0.03|      0.0|           19435|
|   NY|   0.56|      0.19|   0.14|     0.0|   0.08|      0.0|           55542|
|   NJ|   0.56|       0.2|   0.13|     0.0|   0.09|      0.0|           31243|
|   MO|    0.8|      0.04|   0.12|     0.0|   0.02|      0.0|           11156|
|   OH|    0.8|      0.04|   0.12|     0.0|   0.02|      0.0|           28097|
|   TX|   0.43|      0.39|   0.12|     0.0|   0.04|      0.0|           79343|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [105]:
populatonTotals.orderBy("Native %", ascending=False).show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   AK|   0.63|      0.07|   0.03|    0.12|   0.06|     0.01|             741|
|   NM|   0.39|      0.46|   0.02|     0.1|   0.01|      0.0|            2951|
|   OK|   0.66|       0.1|   0.07|    0.07|   0.02|      0.0|            5318|
|   MT|   0.86|      0.04|    0.0|    0.06|   0.01|      0.0|            1052|
|   SD|   0.85|      0.04|   0.02|    0.05|   0.02|      0.0|             892|
|   ND|   0.86|      0.03|   0.02|    0.05|   0.01|      0.0|             548|
|   AZ|   0.56|      0.31|   0.04|    0.04|   0.03|      0.0|           16735|
|   WY|   0.84|       0.1|   0.01|    0.02|   0.01|      0.0|             460|
|   CO|   0.69|      0.21|   0.04|    0.01|   0.03|      0.0|           17582|
|   WA|    0.7|      0.12|   0.04|    0.01|   0.08|     0.01|           15695|
|   AR|   0.73|      0.07|   0.15|    0.01|   0.01|      0.0|            3789|
|   NC|   0.64|      0.09|   0.21|    0.01|   0.03|      0.0|           33982|
|   MN|   0.81|      0.05|   0.06|    0.01|   0.05|      0.0|            8456|
|   NV|    0.5|      0.28|   0.08|    0.01|   0.08|     0.01|            9751|
|   LA|   0.59|      0.05|   0.32|    0.01|   0.02|      0.0|            9082|
|   ME|   0.94|      0.02|   0.01|    0.01|   0.01|      0.0|            1037|
|   KS|   0.76|      0.12|   0.06|    0.01|   0.03|      0.0|            3131|
|   WI|   0.82|      0.07|   0.06|    0.01|   0.03|      0.0|            8538|
|   ID|   0.82|      0.12|   0.01|    0.01|   0.01|      0.0|            2559|
|   OR|   0.76|      0.13|   0.02|    0.01|   0.04|      0.0|            9583|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [106]:
populatonTotals.orderBy("Asian %", ascending=False).show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   HI|   0.22|       0.1|   0.02|     0.0|   0.37|     0.09|            2244|
|   CA|   0.38|      0.39|   0.06|     0.0|   0.14|      0.0|          120248|
|   NJ|   0.56|       0.2|   0.13|     0.0|   0.09|      0.0|           31243|
|   NV|    0.5|      0.28|   0.08|    0.01|   0.08|     0.01|            9751|
|   NY|   0.56|      0.19|   0.14|     0.0|   0.08|      0.0|           55542|
|   WA|    0.7|      0.12|   0.04|    0.01|   0.08|     0.01|           15695|
|   AK|   0.63|      0.07|   0.03|    0.12|   0.06|     0.01|             741|
|   VA|   0.63|      0.09|   0.19|     0.0|   0.06|      0.0|           32700|
|   MA|   0.73|      0.11|   0.07|     0.0|   0.06|      0.0|           12712|
|   MD|   0.52|       0.1|   0.29|     0.0|   0.06|      0.0|           26695|
|   IL|   0.62|      0.17|   0.14|     0.0|   0.05|      0.0|           35045|
|   MN|   0.81|      0.05|   0.06|    0.01|   0.05|      0.0|            8456|
|   TX|   0.43|      0.39|   0.12|     0.0|   0.04|      0.0|           79343|
|   GA|   0.54|      0.09|   0.31|     0.0|   0.04|      0.0|           67321|
|   DC|   0.36|      0.11|   0.47|     0.0|   0.04|      0.0|            3933|
|   OR|   0.76|      0.13|   0.02|    0.01|   0.04|      0.0|            9583|
|   CT|   0.68|      0.15|    0.1|     0.0|   0.04|      0.0|            7492|
|   DE|   0.63|      0.09|   0.21|     0.0|   0.04|      0.0|            3401|
|   NC|   0.64|      0.09|   0.21|    0.01|   0.03|      0.0|           33982|
|   PA|   0.77|      0.07|   0.11|     0.0|   0.03|      0.0|           24160|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [107]:
populatonTotals.orderBy("Pacific %", ascending=False).show()

+-----+-------+----------+-------+--------+-------+---------+----------------+
|STATE|White %|Hispanic %|Black %|Native %|Asian %|Pacific %|Complaints Total|
+-----+-------+----------+-------+--------+-------+---------+----------------+
|   HI|   0.22|       0.1|   0.02|     0.0|   0.37|     0.09|            2244|
|   UT|   0.79|      0.14|   0.01|    0.01|   0.02|     0.01|            4724|
|   NV|    0.5|      0.28|   0.08|    0.01|   0.08|     0.01|            9751|
|   WA|    0.7|      0.12|   0.04|    0.01|   0.08|     0.01|           15695|
|   AK|   0.63|      0.07|   0.03|    0.12|   0.06|     0.01|             741|
|   NH|   0.91|      0.03|   0.01|     0.0|   0.02|      0.0|            2006|
|   ID|   0.82|      0.12|   0.01|    0.01|   0.01|      0.0|            2559|
|   SC|   0.64|      0.05|   0.27|     0.0|   0.01|      0.0|           13821|
|   NE|   0.79|      0.11|   0.05|     0.0|   0.02|      0.0|            1757|
|   OR|   0.76|      0.13|   0.02|    0.01|   0.04|      0.0|            9583|
|   DC|   0.36|      0.11|   0.47|     0.0|   0.04|      0.0|            3933|
|   MN|   0.81|      0.05|   0.06|    0.01|   0.05|      0.0|            8456|
|   VA|   0.63|      0.09|   0.19|     0.0|   0.06|      0.0|           32700|
|   MI|   0.75|      0.05|   0.14|     0.0|   0.03|      0.0|           19435|
|   RI|   0.73|      0.15|   0.05|     0.0|   0.03|      0.0|            2120|
|   KY|   0.85|      0.04|   0.08|     0.0|   0.01|      0.0|            7244|
|   WY|   0.84|       0.1|   0.01|    0.02|   0.01|      0.0|             460|
|   WI|   0.82|      0.07|   0.06|    0.01|   0.03|      0.0|            8538|
|   CT|   0.68|      0.15|    0.1|     0.0|   0.04|      0.0|            7492|
|   VT|   0.93|      0.02|   0.01|     0.0|   0.02|      0.0|             442|
+-----+-------+----------+-------+--------+-------+---------+----------------+
only showing top 20 rows

In [108]:
######################################################################################################

#Analysis..... I don't see a lot of correlation between concentration of a certain minority and complaint totals.


#Granted this is at a very high level. 

########################################################################################################

In [109]:
##########################################################################################################

#End.
##########################################################################################################